@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

.congratulation {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 35px;

  @include mediaQuery(largeTablet) {
    flex-direction: column-reverse;
  }

  @include mediaQuery(phone) {
    gap: 15px;
  }

  &__text {
    flex-basis: calc(55% - 35px);
  }

  &__decorator {
    position: absolute;
    top: 50%;
    right: 25%;
    transform: skew(-15deg) rotate(-15deg) translateY(-180%) translateX(-100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: max-content;

    filter:
      drop-shadow(0px 2px 2px hsla(0, 0%, 0%, 0.5))
      drop-shadow(0px 0px 4px hsla(321, 91%, 38%, 0.5))
      drop-shadow(0px 0px 10px hsla(321, 91%, 38%, 0.5))
      drop-shadow(0px 0px 50px hsla(321, 91%, 38%, 1));

    @include mediaQuery(mediumDesktop) {
      right: 20%;
    }

    @include mediaQuery(largeTablet) {
      top: 67%;
      right: -50px;
    }

    @include mediaQuery(tablet) {
      top: 60%;
      right: -125px;
    }

    @include mediaQuery(smallTablet) {
      top: 48%;
      right: -120px
    }

    @include mediaQuery(phone) {
      top: 37%;
      right: -105px;
    }

    &__title {
      font-size: 18px;
    }

    &__icon {
      
    }
  }

  &__photo {
    flex-basis: calc(30% - 35px);
    width: max-content;

    @include mediaQuery(phone) {
      margin-right: auto;
    }

    &__main {
      max-height: 550px;
      margin-left: auto;

      @include mediaQuery(largeTablet) {
        max-height: 435px;
      }

      @include mediaQuery(tablet) {
        max-height: 350px;
      }

      @include mediaQuery(smallTablet) {
        max-height: 270px;
      }

      @include mediaQuery(phone) {
        max-height: 235px;
      }
    }
  }
}
