@import '../../utils/variables.scss';

.section--congratulation {
  padding-top: $desktop-padding-vertical;
  padding-bottom: $desktop-padding-vertical;
}

.congratulation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 35px;

  &__text {
    flex-basis: calc(55% - 35px);
  }

  &__photo {
    flex-basis: calc(30% - 35px);
    position: relative;
    width: max-content;

    &__main {
      max-height: 450px;
      margin-left: auto;
      filter: blur(2px);
    }

    &__silhoutte {
      position: absolute;
      bottom: 129px;
      right: 40px;
      transform: scale(1.6);
    }
  }
}
