@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

@keyframes star {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.8);
  }
}

.star {
  position: absolute;
  z-index: 3;

  &--1 {
    top: 320px;
    right: 395px;

    @include mediaQuery(mediumDesktop) {
      right: 275px;
    }

    @include mediaQuery(largeTablet) {
      top: 290px;
      left: 35px;
    }

    @include mediaQuery(smallTablet) {
      top: 134px;
      left: 16px;
    }

    @include mediaQuery(phone) {
      top: 768px;
      left: -20px;
    }
  }

  &--2 {
    top: 700px;
    right: 960px;

    @include mediaQuery(mediumDesktop) {
      top: 685px;
      right: 645px;
    }

    @include mediaQuery(largeTablet) {
      top: 770px;
      right: 510px;
    }

    @include mediaQuery(smallTablet) {
      top: 925px;
      right: 355px;
    }

    @include mediaQuery(phone) {
      top: 1219px;
      right: 40%;
    }
  }

  &--3 {
    top: 1155px;
    right: 30px;

    @include mediaQuery(mediumDesktop) {
      top: 905px;
      right: 15px;
    }

    @include mediaQuery(largeTablet) {
      top: 1020px;
    }

    @include mediaQuery(smallTablet) {
      top: 700px;
      right: -20px;
    }

    @include mediaQuery(phone) {
      top: 905px;
      right: -15px;
    }
  }

  &--4 {
    bottom: 735px;
    right: 740px;

    @include mediaQuery(mediumDesktop) {
      bottom: 675px;
      right: 480px;
    }

    @include mediaQuery(largeTablet) {
      bottom: 605px;
      right: 650px;
    }

    @include mediaQuery(smallTablet) {
      bottom: 760px;
      right: 378px;
    }

    @include mediaQuery(phone) {
      bottom: 1060px;
      right: 224px;
    }
  }

  &--5 {
    bottom: 350px;
    right: 95px;

    @include mediaQuery(mediumDesktop) {
      bottom: 405px;
      right: 35px;
    }

    @include mediaQuery(tablet) {
      bottom: 325px;
    }

    @include mediaQuery(smallTablet) {
      bottom: 280px;
      right: -35px;
    }

    @include mediaQuery(phone) {
      bottom: 242px;
      right: -16px;
    }
  }

  &--6 {
    bottom: 50px;
    left: 125px;

    @include mediaQuery(mediumDesktop) {
      bottom: 20px;
      left: 50px;
    }

    @include mediaQuery(largeTablet) {
      left: 20px;
    }

    @include mediaQuery(smallTablet) {
      left: 10px;
      bottom: -130px;
    }

    @include mediaQuery(phone) {
      left: -15px;
      bottom: -140px;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 2;
    animation: star 3s ease-in-out infinite;
  }

  &__text {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: rgba($color: #000000, $alpha: 0.6);
    transform: translateY(-100%) scale(0);
    backdrop-filter: blur(2px);
    transition: all 0.4s;
  
    &.visible {
      transform: translateY(0) scale(1);
    }
  
    &__value {
      width: 90%;
      max-width: 480px;
      padding: 30px;
      box-sizing: border-box;
      background-color: rgba($color: #f3f3f3, $alpha: 0.85);
      color: $color-black;
      border-radius: 10px;
      text-align: center;
    }
  }
}
