@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

.thoughts {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 45px;
  margin-bottom: 45px;

  @include mediaQuery(tablet) {
    flex-direction: column;
    justify-content: center;
  }

  &--second {
    flex-direction: row-reverse;
    margin-bottom: 0;

    @include mediaQuery(tablet) {
      flex-direction: column;
    }
  }

  &__photo {
    flex-basis: calc(35% - 45px);

    @include mediaQuery(tablet) {
      width: 310px;
      margin: 0 auto;
    }
  }

  &__text {
    flex-basis: calc(65% - 45px);

    &__title {
      font-size: 24px;

      @include mediaQuery(tablet) {
        padding-left: 25px;
      }
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-right: 30px;
    margin-bottom: 15px;

    @include mediaQuery(tablet) {
      justify-content: space-between;
      margin-right: 0;
      margin-bottom: 0;
    }

    @include mediaQuery(smallTablet) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
