@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

@keyframes kiss {
  0% {
    opacity: 0;
    transform:translateY(-75px) translateX(10px) scale(0) rotate(20deg) ;
  }
  70% {
    opacity: 1;
    transform: translateY(-75px) translateX(10px) scale(0.1) rotate(45deg);
  }
  100% {
    opacity: 0;
    transform: translateY(-75px) translateX(10px) scale(0.1) rotate(45deg);
  }
}

.title {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 4px hsl(321, 91%, 68%);
  color: hsl(321, 91%, 38%);
  filter:
    drop-shadow(0px 2px 2px hsla(0, 0%, 0%, 0.5))
    drop-shadow(0px 0px 4px hsla(321, 91%, 38%, 0.5))
    drop-shadow(0px 0px 10px hsla(321, 91%, 38%, 0.5))
    drop-shadow(0px 0px 50px hsla(321, 91%, 38%, 1));
  font-size: 74px;

  @include mediaQuery(largeTablet) {
    text-align: center;
  }


  &--greeting {
    text-align: right;
    margin-bottom: 15px;

    @include mediaQuery(mediumDesktop) {
      font-size: 64px;
      -webkit-text-stroke: 3px hsl(321, 91%, 68%);
    }

    @include mediaQuery(smallDesktop) {
      font-size: 56px;
      -webkit-text-stroke: 2px hsl(321, 91%, 68%);
    }

    @include mediaQuery (largeTablet) {
      display: none;
    }
  }

  &--greeting--mobile {
    display: none;

    @include mediaQuery(largeTablet) {
      display: block;
      -webkit-text-stroke: 2px hsl(321, 91%, 68%);
    }

    @include mediaQuery(tablet) {
      font-size: 48px;
    }

    @include mediaQuery(smallTablet) {
      font-size: 36px;
      -webkit-text-stroke: 1px hsl(321, 91%, 68%);
    }
  }

  &--date {
    text-align: right;
    font-size: 36px;

    @include mediaQuery(largeTablet) {
      font-size: 24px;
    }

    @include mediaQuery(tablet) {
      font-size: 18px
    }

    @include mediaQuery(smallTablet) {
      font-size: 14px;
    }

    @include mediaQuery(phone) {
      font-size: 12px;
    }
  }

  &--congratulation {
    font-size: 36px;
  }
}

.greeting {
  height: calc(100vh - #{$desktop-padding-vertical * 2});
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 35px;
  width: 100%;
  position: relative;
  max-height: 570px;

  @include mediaQuery(mediumDesktop) {
    align-items: center;
  }

  @include mediaQuery(largeTablet) {
    display: block;
    margin-bottom: 320px;
  }

  @include mediaQuery(smallTablet) {
    margin-bottom: 215px;
  }

  &__photo {
    flex-basis: calc(50% - 35px);
    display: flex;
    flex-direction: column;
    height: 100%;

    @include mediaQuery(largeTablet) {
      margin-bottom: 55px;
      padding-top: 90px;
      align-items: center;
      justify-content: center;
      gap: 15px;
    }

    @include mediaQuery(tablet) {
      gap: 0;
      padding-top: 50px;
      margin-bottom: 5px;
    }

    @include mediaQuery(smallTablet) {
      padding-top: 20px;
    }

    @include mediaQuery(smallTablet) {
      margin-bottom: -25px;
    }

    @include mediaQuery(phone) {
      padding-top: 0;
      margin-top: -25px;
      margin-bottom: -45px;
    }

    &__main {
      cursor: pointer;

      @include mediaQuery(tablet) {
        height: 85%;
      }

      @include mediaQuery(smallTablet) {
        height: 80%;
      }

      @include mediaQuery(phone) {
        height: 60%;
        margin-left: 18px;
      }

      &.animation {
        cursor: not-allowed;
      }
    }

    &__kiss {
      position: absolute;
      transform: rotate(45deg) scale(0);

      &.animation {
        animation: kiss 4s ease-in-out;
      }
    }
  }

  &__text {
    flex-basis: calc(50% - 35px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__code {
    width: max-content;
    margin-left: auto;
    margin-bottom: -5px;

    @include mediaQuery(largeTablet) {
      margin-top: 15px;
      width: 100%;
    }

    @include mediaQuery(phone) {
      margin-top: 0;
    }
    
    & pre {
      background-color: rgba($color: #000000, $alpha: 0.7) !important;
      width: max-content;

      @include mediaQuery(largeTablet) {
        width: 100%;
      }
    }
  }
}

code[class*="language-"], pre[class*="language-"] {
  color: white !important;
  text-shadow: none !important;
}