@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

.thoughts__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @include mediaQuery(tablet) {
    align-items: center;
  }

  cursor: pointer;

  &__text {
    position: absolute;
    top: 10px;
    right: -80px;
    color: #000;
    text-align: center;
    width: 150px;
    opacity: 0;
    transition: all 1s;
    font-size: 13px;

    @include mediaQuery(smallDesktop) {
      top: -25px;
    }

    @include mediaQuery(tablet) {
      top: 0;
      right: -37px;
    }

    @include mediaQuery(smallTablet) {
      right: -13px;
    }

    @include mediaQuery(phone) {
      font-size: 10px;
      width: 125px;
      top: -25px;
    }

    &::after {
      content: '';
      position: absolute;
      top: -40px;
      bottom: 0;
      left: -40px;
      right: 0;
      display: block;
      height: 140px;
      width: 150%;
      background-image: url('../../img/thougths__decorator.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      z-index: -1;

      @include mediaQuery(phone) {
        height: 110px;
        top: -30px;
        left: -32px;
      }
    }

    &.visible {
      opacity: 1;
    }
  }

  &__photo {
    height: 75%;
    width: max-content;
    z-index: -2;
  }
}

.thoughts--second .thoughts__item {
  align-items: flex-end;

  @include mediaQuery(tablet) {
    align-items: center;
  }
}
