@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

.slider {
  position: relative;

  &__title {
    margin-bottom: 25px;

    &__span {
      margin-left: 5px;
      color: $color-accent-primary;
    }
  }

  &__photo {
    height: 400px;

    @include mediaQuery(tablet) {
      height: 280px;
    }

    @include mediaQuery(smallTablet) {
      height: 250px;
    }

    @include mediaQuery(phone) {
      height: 185px;
    }
  }
}
