$color-black: #101010;
$color-white: #f3f3f3;
$color-accent-primary: #ff006e;
$color-accent-secondary: #3a92ff;

$max-container-width: 1400px;

$desktop-padding-horizontal: 60px;
$tablet-padding-horizontal: 30px;
$phone-padding-horizontal: 15px;

$desktop-padding-vertical: 45px;
$tablet-padding-vertical: 30px;
$phone-padding-vertical: 20px;
