@import '../../utils/mixins.scss';
@import '../../utils/variables.scss';

.section--footer {

}

.timer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 550px;
  margin: 0 auto;

  @include mediaQuery(tablet) {
    max-width: 445px;
  }

  @include mediaQuery(smallTablet) {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  &__button {
    display: block;
    min-width: max-content;
    padding: 7px 10px;
    border: 1px solid $color-accent-primary;
    border-radius: 10px;
    color: $color-accent-primary;
    background-color: transparent;
    cursor: pointer;
    filter:
      drop-shadow(0px 2px 2px hsla(0, 0%, 0%, 0.5))
      drop-shadow(0px 0px 4px hsla(321, 91%, 38%, 0.5))
      drop-shadow(0px 0px 10px hsla(321, 91%, 38%, 0.5))
      drop-shadow(0px 0px 50px hsla(321, 91%, 38%, 1));
    transition: all 0.4s;

    &:hover {
      background-color: rgba($color: #fff, $alpha: 0.9);
    }
  }

  &__notification {
    position: fixed;
    top: 50px;
    right: 0;
    width: 320px;
    height: auto;
    padding: 7px;
    background-color: rgba($color: #f3f3f3, $alpha: 0.95);
    overflow: hidden;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    cursor: pointer;
    transform: translateX(100%);
    transition: all 0.4s ease-in-out;

    @include mediaQuery(phone) {
      width: 290px;
      padding: 4px;
    }

    &.visible {
      transform: translateX(0);
    }

    & img {
      display: block;
      width: 70%;
      margin: 0 auto 5px;
      border-radius: 5px;

      @include mediaQuery(phone) {
        width: 60%;
      }
    }

    & p {
      text-align: center;
      font-size: 13px;
      font-weight: 700;
      margin-bottom: 8px;
      color: $color-accent-primary;
    }
  }
}