@import './utils/variables.scss';

.container {
  position: relative;
  width: 100%;
  max-width: $max-container-width;
  padding-left: $desktop-padding-horizontal;
  padding-right: $desktop-padding-horizontal;
  margin: 0 auto;
}
